:root{
    --main: #B52429;
    --contrast: #FFEAEA;
    --second-color: #D38787;
    --third-color: #3B3B3B;
    --fourth-color: #EFD9A7;
    --fivth-color: #76CAFD;
    --grey: #535353;
}
body{
    font-family: var(--cairo);
}
.prjtsDetPagebanner{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 470px;
    z-index: 0;
}
.prjtsDetPagebanner__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prjtsDetPagebanner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}
.prjtsDetPage-wrpr{
    position: relative;
    top: -130px;
}
.prjtsDetPagecntnt{
    border-radius: 50px;
    background-color: var(--white);
}
.prjtsDetPagecntnt__hdr{
    padding: 40px 37px 30px 37px;
    background-color: var(--contrast);
    border-radius: 50px 50px 0 0;
}
.prjtsDetPagecntnt__hdr-h{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--second-color);
}
.prjtsDetPagecntnt__hdr-link{
    font-size: 1rem;
    font-weight: bold;
    column-gap: 10px;
    color: var(--second-color);
    display: flex;
    align-items: center;
}
.prjtsDetPagecntnt__hdr-link:hover{
    color: var(--main);
}
.prjtsDetPagecntnt__bdy{
    padding: 45px 37px 0 37px;
}
.prdepgBox1__h{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
    column-gap: 10px;
}
.prdepgBox1__h i{
    font-size: 1.1rem;
    color: var(--second-color);
}
.prdepgBox1__p{
    font-size: 1.1rem;
    color: var(--grey);
    font-weight: 500;
    line-height: 2.5;
    margin-bottom: 35px;
}
.prdepgBox1{
    width: 46%;
}
.prdepgBox2{
    width: 46%;
}
.prdepgBox1-wrpr{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 23px;
    column-gap: 20px;
}
.prdepgBox1__tab{
    padding: 22px 35px;
    background-color: var(--contrast);
    border-radius: 45px;
    column-gap: 10px;
    width: 40%;
}
.prdepgBox1__tab-spn{
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: 500;
}
.prdepgBox1__tab-h{
    font-weight: bold;
    color: var(--second-color);
    font-size: 1.2rem;
}
.prjtsDetPagecntnt-wrpr{
    display: flex;
    justify-content: space-between;
}

.prdepgBox2sl2__img{
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 30px;
}
.prdepgBox2sl2__thums{
    height: 170px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.prdepgBox2sl2Arr{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    color: var(--second-color);
}
.prdepgBox2sl2Arr:hover{
    background-color: transparent;
}
.prdepgBox2sl1{
    margin-bottom: 40px;
}
.prdepgBox2sm{
    padding: 15px 20px;
    border-radius: 50px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    width: fit-content;
}
.prdepgBox2sm::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--contrast);
    opacity: 0.5;
    border-radius: 50px;
    z-index: -1;
}
.prdepgBox2sm__sp{
    font-size: 1.1rem;
    color: var(--grey);
    font-weight: bold;
    padding: 0 20px;
}
.prdepgBox2smList{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.prdepgBox2smList li a{
    width: 50px;
    height: 50px;
    background-color: var(--contrast);
    font-size: 1.1rem;
    color: var(--second-color);
}
@media(max-width:1799px){
    .prjtsDetPagebanner{
        height: 390px;
    }
    .prjtsDetPage-wrpr {
        top: -100px;
    }
    .prjtsDetPagecntnt__hdr-h {
        font-size: 1.2rem;
    }
    .prjtsDetPagecntnt__hdr-link {
        font-size: 0.9rem;
    }
    .prjtsDetPagecntnt__hdr {
        padding: 33px 34px 26px 34px;
    }
    .prjtsDetPagecntnt__bdy {
        padding: 37px 34px 0 34px;
    }
}
@media(max-width:1599px){
    .prjtsDetPagebanner{
        height: 370px;
    }
    .prjtsDetPage-wrpr {
        top: -80px;
    }
    .team-details-pagecntnt {
        border-radius: 40px;
    }
    .prjtsDetPagecntnt__hdr{
        border-radius: 40px 40px 0 0;
    }
    .prdepgBox1__p {
        font-size: 1rem;
    }
    .prdepgBox1__tab {
        padding: 20px 30px;
        width: 43%;
    }
    .prdepgBox1__tab-spn {
        font-size: 0.9rem;
    }
    .prdepgBox1__tab-h {
        font-size: 1rem;
    }
    .prdepgBox2sl2__img {
        height: 400px;
    }
    .prdepgBox2sl2Arr {
        width: 45px;
        height: 45px;
    }
    .prdepgBox2sl2__thums {
        height: 140px;
    }
    .prdepgBox2sl1 {
        margin-bottom: 30px;
    }
    .prdepgBox2sm__sp {
        font-size: 1rem;
        padding: 0 15px;
    }
    .prdepgBox2smList li a {
        width: 45px;
        height: 45px;
        font-size: 1rem;
    }
}
@media(max-width:1399px){
    .prjtsDetPagecntnt{
        border-radius: 40px;
    }
    .prjtsDetPagebanner {
        height: 300px;
    }
    .prjtsDetPagecntnt__hdr-h {
        font-size: 1.05rem;
    }
    .prjtsDetPagecntnt__hdr-link {
        font-size: 0.8rem;
    }
    .prjtsDetPagecntnt__bdy {
        padding: 30px 30px 0 30px;
    }
    .prdepgBox2sl2__thums {
        height: 120px;
        border-radius: 10px;
    }
    .prdepgBox2sl2__img {
        height: 370px;
        border-radius: 10px;
    }
    .prdepgBox2sl2Arr {
        width: 40px;
        height: 40px;
        font-size: 0.9rem;
    }
    .prjtsDetPage-wrpr {
        top: -70px;
    }
}
@media(max-width:1199px){
    .prjtsDetPagebanner{
        height: 270px;
    }
    .prjtsDetPage-wrpr{
        top: -60px;
    }
    .prjtsDetPagecntnt{
        border-radius: 25px;
    }
    .prjtsDetPagecntnt__hdr{
        border-radius: 25px 25px 0 0;
    }
    .prdepgBox1 {
        width: 48%;
    }
    .prjtsDetPagecntnt__hdr-h {
        font-size: 0.95rem;
    }
    .prjtsDetPagecntnt__hdr-link {
        font-size: 0.75rem;
    }
    .prdepgBox1__h {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .prdepgBox1__p {
        font-size: 0.85rem;
    }
    .prdepgBox1__tab {
        width: 47%;
        padding: 17px 20px;
    }
    .prdepgBox1__tab-spn {
        font-size: 0.75rem;
    }
    .prdepgBox1__tab-h {
        font-size: 0.9rem;
    }
    .prdepgBox2sl2__img {
        height: 300px;
        margin-bottom: 15px;
    }
    .prdepgBox2sl2__thums {
        height: 90px;
    }
    .prdepgBox2smList li a {
        width: 40px;
        height: 40px;
        font-size: 0.9rem;
    }
    .prdepgBox2sm__sp {
        font-size: 0.8rem;
        padding: 0 10px;
    }
    .prdepgBox2sm {
        padding: 10px 11px;
    }
}
@media(max-width:1023px){
    .prdepgBox2sl2__img {
        height: 250px;
    }
    .prdepgBox2sl2__thums {
        height: 80px;
    }
    .prdepgBox2sl2Arr {
        width: 36px;
        height: 36px;
        font-size: 0.7rem;
    }
    .prdepgBox2smList li a {
        width: 30px;
        height: 30px;
        font-size: 0.7rem;
    }
    .prdepgBox2smList {
        column-gap: 5px;
    }
    .prdepgBox2sm__sp {
        font-size: 0.7rem;
        padding: 0 5px;
    }
    .prdepgBox2 {
        width: 49%;
    }
    .prdepgBox1__p {
        font-size: 0.8rem;
        line-height: 2;
        margin-bottom: 15px;
    }
    .prdepgBox1__tab {
        width: 100%;
        padding: 17px 20px;
    }
    .prdepgBox1-wrpr {
        row-gap: 10px;
    }
    .prjtsDetPage-wrpr {
        top: -50px;
    }
}
@media(max-width:767px){
    .prjtsDetPagebanner{
        height: 200px;
    }
    .prjtsDetPage-wrpr{
        top: -40px;
    }
    .prjtsDetPagecntnt-wrpr{
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .prdepgBox1,
    .prdepgBox2 {
        width: 100%;
    }
    .prjtsDetPagecntnt__hdr-h {
        font-size: 0.8rem;
    }
    .prjtsDetPagecntnt__hdr {
        padding: 25px 20px 19px 20px;
    }
    .prjtsDetPagecntnt__bdy {
        padding: 24px 20px 0 20px;
    }
    .prdepgBox1__h {
        font-size: 0.9rem;
    }
    .prdepgBox1{
        margin-bottom: 20px;
    }
}
@media(max-width:539px){
    .prjtsDetPage-wrpr{
        top: -30px;
    }
    .prjtsDetPagebanner {
        height: 180px;
    }
    .prjtsDetPagecntnt__hdr {
        padding: 18px 14px 15px 14px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .prjtsDetPagecntnt__hdr-h {
        font-size: 0.8rem;
    }
    .prjtsDetPagecntnt__hdr-link {
        font-size: 0.6rem;
    }
    .prdepgBox1 {
        margin-bottom: 10px;
    }
    .prjtsDetPagecntnt__hdr-link{
        column-gap: 3px;
    }
    .prjtsDetPagecntnt__bdy {
        padding: 16px 15px 0 15px;
    }
    .prdepgBox2sm{
        width: 100%;
    }
}
.dark .prjtsDetPagecntnt{
    background-color: var(--dark-background-color1);
}
.dark .prdepgBox2sl2Arr,
.dark .prdepgBox2smList li a,
.dark .prdepgBox2sm::after,
.dark .prdepgBox1__tab,
.dark .prjtsDetPagecntnt__hdr{
    background-color: var(--dark-background-color2);
}
.dark .prdepgBox2sl2Arr,
.dark .prdepgBox2sm__sp,
.dark .prdepgBox2smList li a,
.dark .prdepgBox1__tab-h,
.dark .prdepgBox1__tab-spn,
.dark .prjtsDetPagecntnt__hdr-link,
.dark .prjtsDetPagecntnt__hdr-h,
.dark .prdepgBox1__p,
.dark .prdepgBox1__h i,
.dark .prjtsDetPagecntnt__bdy{
    color: var(--white);
}
